

  .home-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../assets/home-background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
}

.enter-btn {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}