#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

h1, p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 24px;
}

#enter-btn {
  font-size: 20px;
  color: white;
}
